<header class="site-header">

  <div id="nav">
    <ul>
      <li class="nav_home">
        <a href="index.html">
          <span class="icon-home"></span>
          <span>首页</span>
        </a>
      </li>
      <li class="nav_blog">
        <a href="blog.html">
          <span class="icon-blog"></span>
          <span>博客</span>
        </a>
      </li>
      <li class="nav_lab">
        <a href="lab.html">
          <span class="icon-lab"></span>
          <span>实验室</span>
        </a>
      </li>
      <li class="nav_notes">
        <a href="notes.html">
          <span class="icon-notes"></span>
          <span>笔记</span>
        </a>
      </li>
      <li class="nav_me">
        <a href="aboutme">
          <span class="icon-aboutme"></span>
          <span>About Me</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="nav_arc">
    <ul>
      <li class="arc_home"><a href="index.html"><span class="icon-home"></span></a></li>
      <li class="arc_blog"><a href="blog.html"><span class="icon-blog"></span></a></li>
      <li class="arc_lab"><a href="lab.html"><span class="icon-lab"></span></a></li>
      <li class="arc_notes"><a href="notes.html"><span class="icon-notes"></span></a></li>
      <li class="arc_me"><a href="aboutme"><span class="icon-aboutme"></span></a></li>
    </ul>
  </div>

</header>
