<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=divce-width,initial-scale=0.7,user-scalable=yes" />
  <meta name="description" content="前端、BlueSun、JerryC">
  <meta name="keywords" content="前端,BlueSun，JerryC，博客">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="images/avatar.jpg">

  <!-- CSS -->
  <link href="css/base.css" rel="stylesheet">
  <link href="css/common.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/lab.css" rel="stylesheet">
  <link href="css/blog.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!-- Js -->
  <script type="text/javascript" charset="utf-8" src="js/jquery-2.1.1.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/common.js"></script>
</head>